@CHARSET "ISO-8859-1";

.login-area {
	height: 380px;
	width: 300px;
	margin: 0 auto;
	font-family: 'Lobster', cursive;
}

.texts li {
    display:inline;
    font-family: 'Bitter', serif;
}

label{
	font-family: 'Oswald', sans-serif;
}

button{
	font-family: 'Oswald', sans-serif;
}

#app-name {
	font-family: 'Lobster', cursive;
}

.navbar-inverse {
	background-color: #046B9D;
}

.navbar-inverse .navbar-nav>li>a {
	font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-link {
	font-family: 'Lobster', cursive;
}

.dropdown-menu>li>a {
	font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #3196C7;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #3196C7;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: #3196C7;
}

.search-area {
	margin: 0 auto;
}

.info-area {
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.top-greeting {
	margin: 80px 0px 0px 10px;
	font-family: 'Lobster', cursive;
}

.well titles {
	width: 100%;
	height: 200px;
}

.well titles-caught{
	width: 100%;
	height: 100%;
}

h4.tlt {
	text-align: center;
	font-family: 'Bitter', serif;
}

.panel panel-default {
	margin: auto;
}

.panel-heading {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
}

.panel-body {
	font-family: 'Raleway', sans-serif;
}