@CHARSET "ISO-8859-1";

.login-area {
	height: 380px;
	width: 300px;
	margin: 0 auto;
	font-family: 'Lobster', cursive;
}

.texts li {
    font-family: 'Bitter', serif;
    color:#00366C;
}

label{
	font-family: 'Oswald', sans-serif;
}

button{
	font-family: 'Oswald', sans-serif;
}

#app-name {
	font-family: 'Lobster', cursive;
}

.navbar-inverse {
	background-color: #046B9D;
}

.navbar-inverse .navbar-nav>li>a {
	font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-link {
	font-family: 'Lobster', cursive;
}

.dropdown-menu>li>a {
	font-family: 'Lobster', cursive;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover,
	.navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #3196C7;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #3196C7;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
	{
	background-color: #3196C7;
}

.search-area {
	margin: 0 auto;
}

.info-area {
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.top-greeting {
	margin: 80px 0px 0px 10px;
	font-family: 'Lobster', cursive;
}

.top-greeting h1,
.top-greeting h2,
.top-greeting h3,
.top-greeting h4,
.top-greeting h5,
.top-greeting h6{
	color:#FFF;
}

.my-list{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
		
	-moz-box-shadow: 0px 1px 7px #00458A;
	-webkit-box-shadow: 0px 1px 7px #00458A;
	-o-box-shadow: 0px 1px 7px #00458A;
	box-shadow: 0px 1px 7px #00458A;
}

.dashboard-panel{
	margin-top:30px;
}

.top-right-img{
    position: absolute;
    right: 32px;
    top: -30px;
    width: 90px;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
	color:#00366C;
}

h4.tlt {
	text-align: center;
	font-family: 'Bitter', serif;
}

a{
	font-size: 20px;
}

.dropdown{
	cursor:pointer;
}

.panel {	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	
	border-radius: 10px;
	
	-moz-box-shadow: 0px 1px 7px #00458A;
	-webkit-box-shadow: 0px 1px 7px #00458A;
	-o-box-shadow: 0px 1px 7px #00458A;
	box-shadow: 0px 1px 7px #00458A;
}

.panel-heading {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 800;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	
	border-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.panel-body {
	font-family: 'Raleway', sans-serif;
}

.container{
	max-width:930px;
}

body, html{
	background-color:#7FC3E4;
}

.footer{
	margin-top:20px;
}

.master{
	
}

.user-login{
	background-color: #FFF;
	padding: 30px;
	
	-moz-box-shadow: 0px 1px 7px #00458A;
	-webkit-box-shadow: 0px 1px 7px #00458A;
	-o-box-shadow: 0px 1px 7px #00458A;
	box-shadow: 0px 1px 7px #00458A;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	
	margin-top:30px;
}

.search-field{
	background-color:#FFFFFF;
	max-width:930px;
	margin: 0 auto;
	padding:10px 10px;
	
	-moz-box-shadow: 0px 1px 7px #00458A;
	-webkit-box-shadow: 0px 1px 7px #00458A;
	-o-box-shadow: 0px 1px 7px #00458A;
	box-shadow: 0px 1px 7px #00458A;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
